body{
    background-color: #a6f3f3;

}

#secondLayer{
    background-color:#04ebeb;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    flex-display: column;
    width: 80%;
    left: 10%;
    height: 75%;
    top: 12.5%;
}